body {
	margin:0px;
	height:0px;
	background:url('../images/background.jpg');
	background-size:cover;
}

* {
	margin:0px;
	height:0px;
}

#diary {
	height:610px;
	width:1024px;
	margin:70px auto;
	background:url('../images/diary.png') 50% no-repeat;
	position: relative;
}

#left-nav {
	width:100px;
	height:100%;
	/* box-shadow:0px 0px 2px #ccc; */
	float:right;
	margin-left:-75px;
}

#closed-menu-right {
	float:left;
	width:40px;
	padding-top:70px;
	height:auto;
	margin-left:70px;
	/* box-shadow:0px 0px 2px #ccc; */
}

.closed-menu-item {
	width:40px;
	height:35px;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	/* box-shadow:0px 0px 2px #ccc; */
	background:#a15360;
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.closed-menu-item p {
	color:#fff;
	text-align:center;
	display:none;
	height:35px;
}

.closed-menu-item:hover {
	width:100px;
	margin-left:0px;
	cursor:pointer;
}

.closed-menu-item:hover p {
	display:block;
}

#icon-1, #icon-2,#icon-3,#icon-4,#icon-5,#icon-6,#icon-7,#icon-8 {
	height:32px;
	width:32px;
	float:right;
}

#icon-1 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
}
#icon-2 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -32px;
}
#icon-3 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -64px;
}
#icon-4 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -96px;
}
#icon-5 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -128px;
}
#icon-6 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -160px;
}
#icon-7 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -192px;
}
#icon-8 {
	background:url('../images/menu-icons-sprite.png') no-repeat;
	background-position: 0px -224px;
}

/* .menu-label {
	width:60px;
	height:35px;
	float:right;
	/* box-shadow:0px 0px 2px #000; 
	margin-top:-32px;
	display:none;
}

.closed-menu-item:hover .menu-label{
	margin-top:0px;
	display:block;
} */
