@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	background-color: #fffff0;
	font-family: arial;
}

.logo {
	width: 282px;
	height: 249px;
	background: url(logo.png);
	margin: 100px auto 0;
}

.container {
	width: 500px;
	margin: 10px auto;
	height: auto;
	background: white;
	box-shadow: 0px 0px 8px 1px black;
	padding: 10px;
	border-radius: 5px
}

#user,#doctor {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 5px solid #dcdcdc;
	display: inline-block;
	color: #2e7d5b;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 74px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}


.or-divider {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
	background: white;
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 12px -18px;
}

#user:hover,#doctor:hover {
	background-color: #dfdfdf;
}

#user:active,#doctor:active {
	position: relative;
	top: 1px;
}

.container tr {
	padding: 10px 0;
	margin: 5px 0;
}

.container input {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.container .message {
	text-align: center;
	margin-top: 20px;
}

#diary-inner {
	width: 97%;
	height: 90%;
	/* box-shadow: 0px 0px 10px green; */
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px;
}

#inner-tabs {
	width: 200px;
	height: auto;
	box-shadow: 0px 0px 2px #00;
	margin-left: 1%;
	float: left;
	text-align: right;
}

.profile-forms {
	display: none;
}

#about-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
	display: block;
}

#contact-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#ins-info-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#medication-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#allergies-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#sympt-cond-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#proc-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#immune-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#pharm-info-form {
	width: 450px;
	height: auto;
	min-height: 550px;
	max-height: 550px;
	margin-left: 3%;
	/*background:#000;*/
	float: left;
	overflow-y: scroll;
}

#loader-human {
	width: 112px;
	height: auto;
	margin-left: 3%;
	float: left;
	position: relative;
	height: 300px;
}

#loader-image {
	background: url(../images/human.png);
	height: 300px;
	width: 112px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#loader-inner {
	position: absolute;
	left: 0px;
	width: 112px;
	background-color: green;
	background-position: bottom;
}

#loader-human img {
	height: 450px;
	width: 200px;
}

#college {
	width: 121px;
	margin-left: 5px;
}

input[type="text"] {
	padding: 15px;
	width: 260px;
	border: 1px solid #ccc;
}

select {
	padding: 5px;
	width: 260px;
	height: 30px;
}

input[type="date"] {
	padding: 15px;
	width: 260px;
	border: 0px;
}

input[type="file"] {
	height: 20px;
}

input[type="submit"] {
	height: 40px;
	width: 260px;
}

input[type="text"].frst-half-tb {
	width: 121px;
}

input[type="text"].scnd-half-tb {
	width: 121px;
	margin-left: 5px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

textarea {
	padding: 10px;
	width: 260px;
	border: 0px;
	resize: none;
	height: 35px;
}

/* #inner-about.active {
	background:green;
	color:#fff;
	height:40px;
	line-height:40px;
} */
.btn-tab {
	width: 200px;
	height: 20px;
	background: #ccc;
	padding: 5px;
	box-shadow: 0px 1px 2px #666;
	margin-top: 10px;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.btn-tab:hover {
	cursor: pointer;
	box-shadow: none;
	height: 40px;
	line-height: 40px;
	background: green;
	color: #fff;
}

.active {
	cursor: pointer;
	box-shadow: none;
	height: 40px;
	line-height: 40px;
	background: green;
	color: #fff;
}